<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="flex-image.css" />
  </head>
  <body>
    <div>
      <img
        src="just_image.jpg"
        alt="Sample Images"
        style="width: 240px; height: 180px"
      />
      <img
        src="just_image.jpg"
        alt="Sample Images"
        style="width: 240px; height: 180px"
      />
      <img
        src="just_image.jpg"
        alt="Sample Images"
        style="width: 240px; height: 180px"
      />
      <img
        src="just_image.jpg"
        alt="Sample Images"
        style="width: 240px; height: 180px"
      />
      <img
        src="just_image.jpg"
        alt="Sample Images"
        style="width: 240px; height: 180px"
      />
      <img
        src="just_image.jpg"
        alt="Sample Images"
        style="width: 240px; height: 180px"
      />
    </div>
  </body>
</html>
